body {
    background-color: black;
    color: white;
}

p {
    margin-top: 50px;
    margin-left: 125px;
}

.dog {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.ears {
    display: flex;
    flex-direction: row;
}

.ears .left {
    transform: skew(15deg) translate(-60px, 50px);
    border-radius: 30% 100% 40% 50%;
    height: 115px;
    width: 80px;
    background-color: orange;
    margin-right: 20px;
}

.ears .right {
    transform: skew(-15deg) translate(25px, 50px);
    border-radius: 100% 30% 50% 40%;
    height: 115px;
    width: 80px;
    background-color: orange;
    margin-left: 20px;
}

.head {
    height: 140px;
    width: 160px;
    border-radius: 40% 40% 50% 50%;
    background-color: orange;
}

.head .eyes {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 15px;
}

.head .eyes .forehead {
    position: relative;
    z-index: 100;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 55px solid white;
    transform: translateY(-30px);
}

.head .eyes .eye {
    margin: 0px 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    animation: blink 6s infinite;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.head .snout {
    position: relative;
    transform: rotate(180deg) translateY(10px);
    display: flex;
    justify-content: center;
    z-index: 20;
}

.head .snout .nose {
    position: relative;
    background-color: black;
    height: 20px;
    width: 25px;
    border-radius: 50%;
    z-index: 30;
    transform: rotate(135deg);
}

.head .snout .heart {
    position: relative;
    background-color: white;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}

.head .snout .heart::before, .head .snout .heart::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.head .snout .heart::before {
    left: -25px;
}

.head .snout .heart::after {
    top: -25px;
}

.head .mouth {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    transform: translate(60px, -15px);
    z-index: 10;
}

.head .mouth .tongue {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: pink;
    transform: translate(10px, 10px);
    z-index: 12;
}

.head .beard-v {
    position: relative;
    transform: translate(20px, -40px);
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 55px solid transparent;
    border-top: 60px solid orange;
    z-index: 9;
}

.head .beard {
    display: flex;
    flex-direction: row;
    transform: translateY(-100px);
    justify-content: space-between;
    position: relative;
}

.head .beard .beard-left {
    border-radius: 50%;
    transform: skew(35deg) translateX(15px);
    height: 110px;
    width: 40px;
    background-color: white;
}

.head .beard .beard-right {
    border-radius: 50%;
    transform: skew(-35deg) translateX(-15px);
    height: 110px;
    width: 40px;
    background-color: white;
}

.head .beard .beard-center {
    position: absolute;
    z-index: 150;
    width: 0;
    height: 0;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-top: 50px solid orange;
    transform: translate(-10px, 0px);
}

.head .beard .drop {
    position: absolute;
    border-top-color: white;
    z-index: 100;
    transform: translate(-10px, 10px);
}

.head .beard .beard-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.head .beard .beard-bottom .left, .head .beard .beard-bottom .right {
    position: relative;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    border-top: 50px solid white;
    z-index: 100;
    transform: translate(-10px, 30px);
}

.head .beard .beard-base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.head .beard .beard-base .left, .head .beard .beard-base .right {
    position: relative;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid white;
    z-index: 100;
    transform: translate(40px, 85px);
}

.head .beard .bottom {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 70px solid white;
    transform: translate(0px, 50px);
}

@keyframes blink {
    from {
        height: 15px;
    }

    5% {
        height: 0px;
    }

    10% {
        height: 15px;
    }

    15% {
        height: 0px;
    }

    20% {
        height: 15px;
    }

    45% {
        height: 15px;
    }

    50% {
        height: 0px;
    }

    55% {
        height: 15px;
    }

    60% {
        height: 0px;
    }

    65% {
        height: 15px;
    }

    to {
        height: 15px;
    }
}